.home {
    background-color: #8BB2B2;
    height: 60rem;
}
.up {
    padding: 0 3rem;
    display: flex;
    margin-top: 0.2rem;
    background-color: #8BB2B2;
}
.h-left {
    display: flex;
    flex-direction: column;
}
.h-left>:nth-child(1) {
    color: white;
    font-weight: bold;
    margin-left: 5rem;
    font-size: 3.5rem;
    margin-top: 4rem;
}
.h-left>:nth-child(2) {
    color: white;
    margin-left: 13.6rem;
    font-weight: bold;
    font-size: 3.5rem;
    margin-top: 0.1rem;
}
.h-left>:nth-child(3) {
    color: white;
    font-weight: bold;
    font-size: 3.5rem;
    margin-left: 11rem;
}
.h-left>:nth-child(4) {
    font-weight: bold;
    font-size: 2.4rem;
    color: #EEEADE;
    margin-top: 4rem;
    margin-left: 6rem;
}
.h-right {
    left: 28rem;
    position: relative;
}
.h-icon {
    width: 18rem;
}
.down {
    background-color: #8BB2B2;
    margin-top: 6rem;
}
.heading {
    margin-left: 5rem;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.down {
    /* position: relative; */
}
.down>:nth-child(1) {
    /* margin-top: 2rem; */
    left: 22rem;
}
.down>:nth-child(2) {
    left: 24rem;
}
.down>:nth-child(3) {
    left: 50rem;
}